.nav {
  display: flex;

  padding: 1.5rem 1rem;

  background-color: #000000;
  border-bottom: 1px solid #ececec;
}

.brand {
  display: flex;
  margin: 0 auto;
  cursor: pointer;
  justify-content: center;
}

.brand__logo {
  max-height: 24rem;
  justify-self: center;
}

.brand__name {
  margin: auto 0;

  color: #16498a;
  font-weight: normal;
  letter-spacing: 2px;
}

@media (min-width: 991px) {
}

@media (min-width: 1200px) {
  .nav {
    padding: 1.5rem 4rem;
  }
}

@media (max-width: 440px) {
  .brand__logo {
    max-width: 90%;
  }
}
